@model QLBanQuanAoNam.Models.SanPham
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPham</h1>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.Msg))
{
    <div class="alert alert-danger row m-0 pl-5 pr-5 mt-5 w-100">@ViewBag.Msg</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemSanPham" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <input asp-for="MaSanPham" class="form-control" />
                <span asp-validation-for="MaSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSanPham" class="control-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatLieu" class="control-label"></label>
                <input asp-for="ChatLieu" class="form-control" />
                <span asp-validation-for="ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="FileUpload" class="custom-file-input " id="FLFrontImage"
                           onchange="document.getElementById('FrontImagePrv').src=window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" for="FLFrontImage">Chọn Ảnh</label>
                </div>
                <span asp-validation-for="FileUpload" class="text-danger"></span>
                <img id="FrontImagePrv" src="" alt="Logo Image" width="150" height="150"
                     style="border:1px;margin-top:20px;margin-left:120px;" />
            </div>
@*            <div class="form-group">
                <input type="file" id="FileUpload" name="FileUpload" accept="image/*"/>
            </div>*@
            <div class="form-group">
                <label asp-for="MaLoaiSp" class="control-label"></label>
                <select asp-for="MaLoaiSp" class ="form-control" asp-items="ViewBag.MaLoaiSP"></select>
            </div>
            <div class="form-group">
                <label asp-for="Vote" class="control-label"></label>
                <input asp-for="Vote" class="form-control" />
                <span asp-validation-for="Vote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slvote" class="control-label"></label>
                <input asp-for="Slvote" class="form-control" />
                <span asp-validation-for="Slvote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
